* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    place-items: center;
    display: grid;
    background: radial-gradient(circle, rgb(255 255 255) 0%, rgb(255 255 255) 9%, rgb(48 150 198) 28%, rgb(0 0 0) 95%);
}

.flex {
    display: flex;
    justify-content: center;
}

h1 {
    color: black !important;
    text-align: center;
    margin-bottom: 50px;
}

.table_fan {
    width: 500px;
    height: auto;
    padding: 100px;
}

img {
    mix-blend-mode: darken;
    margin-left: 130px;
}

.fan {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.fan img {
    width: 100%;
    display: block;
    animation: demo linear infinite;
}

@keyframes demo {
    100% {
        transform: rotate(360deg);
    }
}

.fan-on h6 {
    background-color: rgb(65, 233, 9);
    padding: 20px;
    border-radius: 50%;
    color: white;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: inset 0px 0px 20px 3px rgb(0 94 20);
    border: 2px solid green;
    margin: 10px;
}

.fan-on h6:hover {
    background-color: green;
    font-size: 20px;
    padding: 13px;
    box-shadow: inset 0px 0px 20px 3px rgb(63, 255, 9);
    transition: 0.4s;
}

.fan-off h6 {
    background-color: rgb(245, 91, 91);
    padding: 20px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 20px 3px rgb(149 0 0);
    border: 2px solid red;
    margin: 10px;
}

.fan-off h6:hover {
    background-color: red;
    font-size: 20px;
    padding: 13px 12px;
    box-shadow: inset 0px 0px 20px 3px rgb(250, 143, 143);
    transition: 0.4s;
}

#speed {
    display: none;
    animation: demo1 0.2s ease-in-out;
}

@keyframes demo1 {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.speed li {
    padding: 20px;
    background-color: gray;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid rgb(85, 84, 84);
    box-shadow: inset 0px 0px 20px 3px rgb(0 0 0);
}

.speed li:hover {
    background-color: black;
    font-size: 20px;
    padding: 13px 19px;
    box-shadow: inset 0px 0px 20px 3px rgb(143, 139, 139);
    border: 2px solid black;
    transition: 0.4s;
}